@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --primary-color:#000;
  --background-menu-color:#FFF;
  --background-project:#FFF;
  --text-color:#000;
}

:root{
  --background-project-dark:#000;
  --text-color-dark:#FFF;
}




@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:0;width:0px;}
    100% {opacity:1;}
}


html[site-mode="dark"] .body-project{
  background: var(--background-project-dark);
}

html[site-mode="dark"] .main-info.flex h2 span {
  background-image: linear-gradient(99deg, #FFF 0%, #ffd701 100%);
}

html[site-mode="dark"] .group-projects .item >span{
  background-image: linear-gradient(99deg, #FFF 0%, #ffd701 100%);
}

body{
	margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}


.flex{
  display: flex;
}

.project-content{
  width: 100%;
  overflow-x: hidden;
}

header.portifolio-header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--background-menu-color);
  transition: background-color 0.3s ease;
}

html[site-mode="dark"] header.portifolio-header{
  background-color: var(--background-project-dark);
}

header.portifolio-header ul {
    list-style: none;
    justify-content: space-around;
    padding: 1rem;
}

header.portifolio-header ul li::after{
  content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

header.portifolio-header ul li:not(:last-child):hover::after{
  width: 100%;
  background: #ffd701;
}

header.portifolio-header ul li a {
  text-decoration: none;
  font-weight: 500;
}

.body-project {
  padding: 130px 30px 0px 30px;
  transition: background 0.8s ease;
}

.body-project > div:not(:last-child) {
  margin-bottom: 4rem;
}

.banner-home{
	justify-content: flex-end;
  max-height: 483px;
}
.main-section.flex{
  flex-wrap: wrap;
}

.main-info{
  flex-direction: column;
}

.banner-home img {
  width: 59%;
  height: 100%;
  border-radius: 2%;
  animation:reveal 3s normal;
}

.main-info.flex {
  margin-left: 2%;
} 

.main-info.flex h1 {
  font-weight: bold;
  font-size: 4rem;
  line-height: 0rem;
  animation:slidein 7s normal ;
}

a.button.contact {
  padding: 15px;
  background: linear-gradient(316deg, rgba(255, 255, 255, 0) 0%, rgba(15, 45, 207, 0.26) 100%),linear-gradient(1deg, rgba(0, 0, 0, 0.74) 0%, rgba(255, 215, 0, 1) 100%);
  width: 150px;
  border-radius: 10.20px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
}

.main-info.flex h2 {
  font-weight: 400;
  font-size: 2rem;
  animation:showup 7s normal;
}

.main-info.flex h2 span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(99deg, #000 0%, #ffd701 100%);
  color: transparent;
  font-weight: bold;
}

.group-projects .item >span{
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(99deg, #000 0%, #ffd701 100%);
  color: transparent;
  font-weight: bold;
  font-size: 2rem;
  line-height: 4rem;
}

.box-section .group-projects {
  display: flex;
  align-items: center;
}

.group-projects .item {
  padding: 1rem;
  text-align: center;
}

.project-image img {
  width: 100%;
  border-radius: 1rem;
}

.personal-projects > h2 {
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
}

.project-image img{
  transition: transform 1s ease;

}

.project-image img:hover{
  transform: scale(1.1);
}
#curriculum-section {
  display: flex;
  justify-content: center;
}

#curriculum-section .box-description {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-right: 8%;
  justify-content: center;
}

#curriculum-section .box-description > h2 {
  font-size: 3rem;
}

#curriculum-section .box-description > h3 {
  font-weight: 400;
}

#curriculum-section .box-image{
width: 50%;
}
.curriculum-section .box-image img {
  width: 100%;
  transition: transform 1s ease;
}

.about-me {
  display: flex;
  justify-content: center;
}



div#about-me-text {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-right: 8%;
  justify-content: center;
}

div#about-me-text h3{
  font-weight: 400;
}

div#about-me-text h2{
  font-size: 3rem;
}

.about-me-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  box-sizing: content-box;

}

.about-me-image img{
  box-sizing: content-box;
  width: 40%;
  border-radius: 6%;
}

div#contact-me {
  display: flex;
  justify-content: center;
}


.box-contact {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.contact-me h2 {
  font-size: 2rem;
}

.box-contact img {
  width: 40%;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

html[site-mode="dark"] footer{
  background: var(--background-project-dark);

}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

html[site-mode="dark"] .project-content{
  background-color: var(--background-project-dark);
}


@media (min-width:768px) {
  header.portifolio-header-mobile,.hidden_box{
    display: none;
  }
}
@media (min-width:768px)  and (max-width:1200px){
  .main-info.flex h2{
    font-size: 1.6rem;
  }
  .main-info.flex h1{
    font-size:3rem;  
  }
}

@media(max-width:768px){
  .portifolio-header{
    display: none;
  }
  header.portifolio-header-mobile{
    border: 1px solid;
    margin-bottom: 2rem;
  }
  html[site-mode="dark"] .toggle-burger svg{
    fill:var(--text-color-dark);
  }
  .main-info.flex h1{
    font-size:2rem ;
  }
  .main-info.flex h2{
    font-size: 1rem;
  }
  a.button.contact {
    width: 70px;
    padding: 10px;
    font-size: 0.60rem;
    font-weight: bold;
    margin-bottom: 5%;
  }
  .banner-home img{
    width: 100%;
    border-radius: 15px;
  }
  .toggle-burger svg {
    display: block;
    width: 46px;
    height: 100%;
    fill: #000;
    cursor: pointer;
    margin-bottom: 1rem;
}

.portifolio-header-mobile ul {
  height: 100%;
  width: 40%;
  position: fixed;
  justify-content: start;
  z-index: 1;
  margin: auto;
  visibility: hidden;
  flex-direction: column;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  list-style: none;
  transition: transform 0.3s ease, visibility 0s linear 0.3s; /* Add transition for visibility */
  transform: translateX(-100%);
}

.portifolio-header-mobile ul.active{
  background: var(--background-menu-color);
}

html[site-mode="dark"] .portifolio-header-mobile ul.active {
  background: var(--background-project-dark);
}

.portifolio-header-mobile ul.active {
  transform: translateX(0);
  visibility: visible;
  transition: transform 0.3s ease; /* Reset transition for visibility */

}

.portifolio-header-mobile ul li {
  padding: 10px 0 10px 0;
  font-size: 0.8rem;
}

.portifolio-header-mobile ul li a {
  text-decoration: none;
  font-weight: 500;
}

.portifolio-header-mobile ul.active form {
  position: absolute;
  top: 0;
  left: 0;
}

.shadowEffect {
  opacity: 1;
  background: transparent;
  width: 100vw;
  height: 100%;
  padding: 0;
}

.shadowOn{
  opacity: 0.8;
}
.box-section .group-projects{
  flex-wrap: wrap;
}
#curriculum-section{
  flex-direction: column;
  align-items: center;
}

#curriculum-section .box-description{
  width: auto;
  word-break: break-all;
  padding-left: 8%;
}
#curriculum-section .box-description > h2{
  text-align: center;
}
#curriculum-section .box-description > h3{
  text-align: justify;
}
.hidden_box{
  -webkit-background-clip: text;
  background-image: linear-gradient(99deg, #000 0%, #ffd701 100%);
  color: transparent;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 3rem;
  text-align: center;
}

.curriculum-image.active-zoom{
  transform: scale(1.8);
  margin: 3rem 0 5rem 0;
  }
  .main-section.flex{
    margin: 1rem;
  }
  .about-me{
    flex-direction: column;
    align-items: center;
  }
  .about-me #about-me-text{
    width: auto;
    text-align: center;
    word-break: break-all;
    padding-left: 8%;
  }
  .about-me-image{
    justify-content: center;
    width: 100%;
  }
  .about-me-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
  }
  div#contact-me{
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  .box-contact{
    justify-content: center;
  }
  .box-contact img {
    width: 100%;
  }
  .social-media{
    height: 100%;
    border-top: 1px solid #d3d3d3;
    width: 100%;
    text-align-last: center;
    margin-top: 1rem;
  }
  .social-media a{
  font-size: 2rem;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: revert-layer !important;
}

.project-content div > *  {
  box-sizing: revert !important;
}

html[site-mode="dark"] h1,
html[site-mode="dark"] h2,
html[site-mode="dark"] h3,
html[site-mode="dark"] h4,
html[site-mode="dark"] span,
html[site-mode="dark"] p,
html[site-mode="dark"] a {
    color: var(--text-color-dark);
}

html:not([site-mode="dark"]) h1,
html:not([site-mode="dark"]) h2,
html:not([site-mode="dark"]) h3,
html:not([site-mode="dark"]) h4,
html:not([site-mode="dark"]) span,
html:not([site-mode="dark"]) p,
html:not([site-mode="dark"]) a {
    color: var(--text-color);
}

.toggle-burger,.toggle-burger svg{
  cursor: pointer;
}