.choose-language{
background-image: none !important;
padding: .375rem 2.25rem .375rem 2.25rem !important;
cursor: pointer;
}

html[site-mode="dark"] .choose-language option{
    background: var(--background-project-dark);
}

html[site-mode="dark"] .choose-language:focus{
    outline: none !important;
    border-color: #d3d3d3 !important;
    box-shadow: 0 0 0 0.08rem #ffd701;
}

html[site-mode="dark"] .choose-language {
    background-color: transparent;
    color: var(--text-color-dark);
}

@media(max-width:767px){
    .choose-language{
        padding: .375rem 0.25rem .375rem 0.25rem !important;
    }
    .portifolio-header-mobile ul.active #choose-language{
        position: relative;
        width: auto;
    }
    html .choose-language{
        border: none;
    }
    .portifolio-header-mobile ul.active form.toggle-theme {
        top: 20px;
        left: 36px;
    }
}
