body{
	margin: 0;
  font-family: Roboto;
}

.flex{
  display: flex;
}

header.portifolio-header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

header.portifolio-header ul {
    list-style: none;
    justify-content: space-around;
}

.body-project {
    padding: 200px 70px 0px 70px;
}

.banner-home{
	justify-content: flex-end;
}
.main-section.flex{
  flex-wrap: wrap;
}

.main-info{
  flex-direction: column;
}

.banner-home img {
    width: 77%;
    border-radius: 2%;
}